{% extends 'feedback/base.html' %}

{% block content %}
    <div class="page-subheader">
        <h1>Feedback List</h1>
    </div>
    <div class="content-container">
        <div class="list">
            {% for feedback in feedbacks %}
                <h3><a href="{% url 'feedback_detail' feedbackid=feedback.feedbackid %}">{{ feedback.title }}</a>
                <br><span>{{ feedback.create_date }}</span></h3><br>
            {% endfor %}
        </div>            
    </div>     
{% endblock %}
