{% extends 'feedback/base.html' %}

{% block content %}
    <div class="page-subheader">
        <h1>Feedback Detail</h1>
    </div>
    <div class="content-container">
        <h3>title: {{ feedback.title }}</h3>
        {% if not feedback.anonimity %}
            <h4>writer: {{ feedback.userid }}</h4>
        {% else %}
            <h4>writer: anonymous</h4>
        {% endif %}
        <p>{{ feedback.create_date }}
        <p>content:</p>
        <p>{{ feedback.content }}</p>
              
    </div>     
{% endblock %}