{% load static %}

<html>
    <head>
        <title>enhanced library</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/guest.css' %}">
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    </head>

    <body>
        <div class="page-header">
            <h5>Software Engineering Group 3<h5>
            <h1>Enhanced Library Management</h1>
        </div>
        <div class="menus">
            <button class="menu" onclick="location.href='{% url 'add_guest' %}'">Add Guest</button>
            <button class="menu" onclick="location.href='{% url 'search_guest' %}'">Search Guest</button>
            <button class="menu" onclick="location.href='{% url 'add_feedback' %}'">Write Feedback</button>
            <button class="menu" onclick="location.href='{% url 'feedback_list' %}'">View Feedback</button>
            <button class="menu" onclick="logout()">Logout</button>
        </div>
        {% block content %}
        {% endblock %}

        
        <script>
            function logout() {
                if (localStorage.getItem('token') !== null) {
                    localStorage.removeItem('token');
                }
                location.href="../login";
            }
        </script>
    </body>
</html>