<body>
    <form action="{% url 'search_guest' %}" method="post">
        {% csrf_token %}
        <input type="search" placeholder="Search" aria-label="Search" name="searchParam" value="{{searchParam}}">
        <button type="submit">Search</button>
    </form>

    {% block content %}
        {% if not searchParam %}
            <h1>검색해보세요.</h1>
        {% elif not guests %}
            Search Word {{ searchParam }} Not Found!
        {% else %}
            {% for guest in guests.all %}
                <a href="{% url 'guest_detail' userid=guest.userid %}">{{ guest.name }}</a><span>{{ guest.userid }}</span>
            {% endfor %}
        {% endif %}
    {% endblock %}
</body>